# Ignore raster and large data files
*.tif
*.zip
*.hdf
*.tiff
*.npy


# Ignore large datasets only
data/
datasets/


# # Ignore image files
# *.jpeg
# *.jpg
# *.png

# Node / Electron
node_modules/
electron/node_modules/
npm-debug.log*