# Ignore raster and large data files
*.tif
*.zip
*.hdf
*.tiff
*.npy


# Ignore large datasets only
# data/
# datasets/


# Ignore image files
*.jpeg
*.jpg
*.png
*.json

# Node / Electron
node_modules/
electron/node_modules/
npm-debug.log*

__pycache__/

# block APIs and Emails from getting pushed to remote
.env